.footer{
    background-color: #121618;
}
.insta-icon{
    font-size: 30px;
   color:lightgrey;
}
.fb-icon{
    font-size: 30px;  
    color:lightgrey;

    
}
.youtube-icon{
    font-size: 30px;
    color:lightgrey;
   
}
.google-icon{
    color:lightgrey;
    font-size: 30px;
}